/* Shared Hero Style */

.contact-hero {
  background: linear-gradient(rgba(62, 82, 53, 0.9), rgba(62, 82, 53, 0.9)),
    url("../assets/hero1.png");
  background-size: cover;
  padding: 100px 10%;
  text-align: center;
  color: white;
}

.contact-hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.contact-hero p {
  color: #8c734b;
  font-weight: bold;
}

/* Contact Specifics */
.contact-container {
  padding: 80px 10%;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 50px;
}
.info-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.i-icon {
  font-size: 24px;
  color: #8c734b;
  margin-bottom: 10px;
}
.contact-form-wrapper {
  padding: 40px !important;
}
.input-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.input-row input {
  flex: 1;
}
.contact-main-form input,
.contact-main-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
  background: #fafafa;
}
.submit-btn {
  background: #3e5235;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
  .input-row {
    flex-direction: column;
  }
}
